body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://i.pinimg.com/originals/34/1e/80/341e800b1f29d3e34ea2eba5a6af205c.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html, body {
    height: 100%;
    margin: 0;  /* Remover qualquer margem */
    padding: 0; /* Remover qualquer preenchimento */
}

h1 {
    color: aliceblue;
    display: inline-block;
    padding: 8px;
    border: 2px solid;
    border-color: rgb(187, 1, 187);
    border-radius: 12px;
    background-image: url(https://i.pinimg.com/originals/50/27/08/502708bdae3c2980bbec5d0e8d6bebb0.gif);
    background-position: center;
    box-shadow: 1px 2px 12px 2px purple;
}

label {
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    display: block;
    margin-bottom: 15px;
}
textarea, input {
    color: aliceblue;
    font-size: 20px;
    display: inline-block;
    padding: 8px;
    border: 2px solid;
    border-color: indigo;
    border-radius: 12px;
    background-color: black;
}

input:focus, textarea:focus {
    outline: none; /* Remove o contorno padrão do navegador */
    border: 2px solid #b700ff; /* Muda a cor da borda */
    box-shadow: 0 0 10px rgba(146, 3, 241, 0.7); /* Adiciona uma sombra para destacar o campo */
    transform: scale(1.05); /* Aumenta o tamanho do campo ligeiramente */
    transition: all 0.3s ease; /* Adiciona uma animação suave para todos os efeitos */
}

h2, p {
    color: aliceblue;
    font-size: 15px;
}

.preview-descricao {
    color: #846eff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    padding: 2px;
    border: 2px solid;
    border-color: rgb(132, 0, 255);
    border-radius: 8px;
}

.preview-container {
    display: flex;             
    flex-direction: column;    
    justify-content: center;    
    align-items: center;           
}

button {
    padding: 6px 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: aliceblue;
    background-color: black;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6a0dad;
    box-shadow: 0px 0px 30px 3px purple;
}

footer {
    display: block;
    padding: 2px;
    border: 2px solid;
    color: #003cff;
    text-align: left;
    background-image: url(https://i.pinimg.com/originals/5d/58/42/5d5842689862a0b26d30e4b680e88025.gif);
    border-radius: 10px;
    background-color: black;
    background-position: fixed;
    padding: 20px;
    box-shadow: 1px 1px 24px 7px rgb(112, 87, 255);
}

p {
    color: #7e00f5;
    font-size: 30px;
    font-style: italic;
}

.footer-content {
    display: flex;
    align-items: center; /* Alinha verticalmente a imagem e o texto */
    justify-content: left; /* Alinha horizontalmente no centro */
}

.footer-img {
    width: 90px; /* Ajuste o tamanho da imagem */
    height: 90px;
    margin-right: 30px; /* Espaço entre a imagem e o texto */
}

img {
    border-radius: 70px;
}

.botaoo {
    font-size: 20px;
}

.input-file {
    border-radius: 20px;
    width: 105px; /* Define uma largura menor */
    height: 20px; /* Define uma altura menor */
    font-size: 12px; /* Ajusta o tamanho do texto */
    padding: 5px; /* Ajusta o espaçamento interno */
    cursor: pointer; /* Mostra o cursor de clique */
}


/* botao do upload */
.custom-upload { 
    color: rgba(255, 255, 255, 0.692);
    padding: 8px 16px;  /* Ajuste do padding */
    display: inline-block;  /* Impede que se expanda para a largura total */
    text-align: center;  /* Alinha o texto no centro */
    background: rgba(255, 255, 255, 0.068);
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 0;  /* Espaço acima e abaixo do botão */
    transition: 0.2s;
    border: 1px solid transparent;
    cursor: pointer;
    width: auto;  /* Faz com que o botão tenha largura automática */
  }
  
  /* Efeito de hover */
  .custom-upload:hover {
    border-color: rgba(255, 255, 255, 0.623);
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.144),
      rgba(255, 255, 255, 0.247),
      rgba(255, 255, 255, 0.39)
    );
    box-shadow: 0 6px rgba(233, 0, 0, 0.623);
    transform: translateY(-6px);
  }
  
  /* Efeito de clique */
  .custom-upload:active {
    transform: translateY(2px);
    box-shadow: none;
  }
  
  /* Estilizando o input[type="file"] que está oculto */
  .input-file {
    display: none;
  }